.avatarGroup {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.avatarGroup .avatarItem {
    position: relative;
    border: 2px solid #5e5c5c;
    border-radius: 50%;
}

.avatarGroup .avatarItem + .avatarItem {
    margin-left: -12px;
}

.showAll.avatarGroup .avatarItem {
    transition: margin-left 0.2s ease-in-out 0s;
}

.showAll.avatarGroup:hover .avatarItem {
    margin-left: 3px;
}

.showCurrent.avatarGroup .avatarItem {
    transition: transform 0.2s ease-in-out 0s;
}

.showCurrent.avatarGroup .avatarItem:hover {
    z-index: 5;
    transform: translateY(-5px);
}

.overflowAvatar:hover {
    background-color: #b1ecec;
}

